* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
}

nav {
    background-color: #222;
    padding: 18px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 70px 20px;
    text-align: center;
}

#home {
    background-color: #dbeafe;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

#about,
#projects {
    background-color: white;
}

#skills p {
    display: inline-block;
    background-color: white;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 8px #ccc;
}

#contact {
    background-color: #dbeafe;
}
